/* :root {
  --primary-color: #000000;
  --text-color: #ffffff;
  --padding: 1rem;
  --logo-blue: #1AA3E8;
  --grey: #292929;
} */

body {
  background-color: #65656567;
  color: var(--text-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 1rem; /* Adjust padding for spacing */
  padding-right: 3rem;
  background-color: var(--primary-color); /* Navbar background color */
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), var(--primary-color));
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  height: 19rem;
  width: auto;
  padding-top: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  
}
.nav-links li a.active {
  border-bottom: 2px solid var(--logo-blue); /* White border for the active page */
} 

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  z-index: 1000;
  margin-left: 1rem;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.3s ease;
}

.bar.open {
  transform: rotate(45deg);
  position: relative;
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
}

.phone-icon {
  display: none; /* Show phone icon on mobile */
  position: absolute;
  top: 4rem;
  right: 2rem;
}

.phone-link {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.phone-link i {
  color: var(--text-color); /* Change color if needed */
}

/* Mobile styling */
@media (max-width: 48rem) {
  .nav-links {
    display: none; /* Hide nav links on mobile */
    flex-direction: column;
    width: 100%; /* Full width */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    padding: 1rem 0;
  }

  .nav-links.show {
    display: flex; /* Show the nav links when menu is open */
    background: linear-gradient(to top, var(--primary-color), var(--grey));
    z-index: 1000;
  }

  .nav-links.show li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: block;
    font-size: 1rem;
  }

   .nav-links li a.active {
    border-bottom: 2px solid var(--logo-blue); /* White border for the active page */
    display: inline-block; /* Ensure the border fits the text width */
    padding-bottom: 2px; /* Adjust padding to prevent overlap with text */
  } 
  

  .navbar {
    padding: 4.5rem 1rem;
  }

  .hamburger {
    display: flex;
  }

  .phone-icon{
    display: flex; 
  }
}